.contact{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    

    #{&}s{
        margin: 1em 1.5em;

        .title{
            font-size: 1.3em;
            font-weight: bold;
            text-decoration: underline;
            letter-spacing: 0.07em;        
        }

        ul > li{
            display: flex;
            align-items: center;
            padding-left: 0.6em;

            @at-root #{&} i{
                align-items: baseline;
                margin-right: 0.4em;
            }
        }

        p{
            margin: 0.3em 0;
        }
    }

    @at-root #{&}-form{
        position: relative;
        width: inherit;
        place-self: center stretch;
        border:0.2em solid#AC92EC;
        box-shadow: 0px 0px 28px 3px #9c99e5;
        border-radius: 0.5em;
        margin: 2em 1em;
        padding: 2em 1.5em;
        transition: border-color 0.2s;

        @at-root #{&}:hover{
            border: 0.2em solid #2b25c7;
        }

        &:before{
            position: absolute;
            top: -1em;
            left: 50%;
            transform: translateX(-50%);
            
            content: "Feedback form";
            font-size: 1.3em;
            text-align: center;
            color: #2b25c7;
            padding: 0.3em;
            width: 10em;
            background-color: lightblue;
            
            border: 0.1em solid #AC92EC;
            border-radius: 0.5em; 
            z-index: 5;
        }
    }

    @media screen and (min-width: 600px) {
        display: grid;
        grid-template-columns: 1fr 2fr ;
        justify-items: center;
      }

      @media screen and (min-width:2000px) {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        justify-items: center;
      }
}