footer{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;

    font-size: 0.7rem;

    padding: 2rem 0;

    @at-root #{&}:before{
        display: block;
        grid-column: 1 / -1;
        width: inherit;
        content:"";
        border-bottom: 0.2rem solid black;
        margin-bottom: 1rem;
    }

     @at-root .branding{
        text-align: center;
        align-self: center;
        #{&}-logo{
            width: 5em;
        }

        #{&}-title{
            font-size: 1.3em;
        }
    }

    @at-root .moto{
        font-size: 2.5em;
        font-style: italic;
        text-align: center;
        align-self: center;
    }

    @at-root .#{&}-category{
        font-size: 1.2em;
        
        @at-root #{&}-title{
            font-weight: bold;
            text-decoration: underline;
            margin-bottom: 0.8em;
        }

        @at-root #{&}-content{
            padding-left: 0.2em;
        }
    }


    ul > li{
        display: flex;
        font-size: 0.8em;
        font-style: italic;
        margin: 0.5em 0 0 0.5em; 
        p{
            margin-left: 0.5em;
        }
    }
}
