form{
    display: block;
    
    width: calc(100% - 5em);
    padding: 0 5em;

    
    @at-root label{
      display: block;
    }
    
    @at-root textarea{
      resize: vertical;
      min-height:15em; 
    }
    
    @at-root textarea, input{
      margin: 1em 0;
      width: inherit;
    }
}