form{
    display: block;
    
    width: 100%;
    box-sizing : border-box;
    
    @at-root label{
      display: block;
    }
    
    @at-root textarea{
      resize: vertical;
      min-height:15em; 
    }
    
    @at-root textarea, input{
      margin: 0.2em 0 1em 0;
      width: inherit;
    }

    @at-root input{
      
    }
}