.site{
    @at-root #{&}-header{
        
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 2fr 1fr;
        
        @at-root #{&}:after{
            display: block;
            width: inherit;
            margin-bottom: 1rem;
            content:"";
            border-bottom: 0.2rem solid black;
            grid-column: 1 / -1;
        }

    }

    @at-root #{&}-logo{
        justify-self: center;
        width: 5rem;
        padding-left: 1rem;
    }

    @at-root #{&}-title{
        font-family: "overpass";
        font-weight: bolder;
        font-size: 2.5rem;
        text-align: center;
        text-shadow: 4px 4px gray;
        @at-root #{&}>a{
            text-decoration: none;
            color: black;
        }
    }

    @at-root #{&}-nav{
        justify-self: center;

        @at-root #{&}>label {
            position: relative;
            z-index: 1000;
            font-size: 2em;
        }

        @at-root #{&}>ul {
            display:none;

            @at-root #{&} li{
                transition: font-size 0.3s;
            }

            @for $i from 1 through 4 {
                @at-root #{&} li:nth-of-type(#{$i}) {
                  animation: links-animation #{$i*0.2}s;
                }
             }

             @at-root #{&} li:hover{
                font-size: 1.4em;
            }
        }     
    }

    @at-root #toggle-menu, #toggle-menu-off{
        display: none;
    }

    @at-root  #toggle-menu-on, #toggle-menu-off{
        color:#AC92EC;
        transition: font-size 0.2s, text-shadow 0.2s,  
    }

    @at-root  #toggle-menu-on:hover, #toggle-menu-off:hover{
        font-size: 3em;
        color: #865EE3;
        text-shadow: 0px 0px 10px #9c99e5;
    }

    @at-root #toggle-menu:checked + .site-nav  ul{
        @at-root #{&}>li{
            padding: 0.4em;
            text-align: center;  
        }

        top:0; left:0; right: 0; bottom:0;
        position: absolute;
        display: flex;
        transition: display 2s;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(white, 0.9);
        z-index: 999;
        font-size: 2em;
    }

    @at-root #toggle-menu:checked + .site-nav #toggle-menu-off{
        display:block;
    }

    @at-root #toggle-menu:checked + .site-nav #toggle-menu-on{
        display:none;
    }

    @media screen and (min-width: 1500px){
        @at-root #{&}-header{
            grid-template-columns: 1fr 3fr 3fr;
        }

        @at-root #{&}-nav {
            justify-self: auto;
        }

        @at-root #{&}-nav>label {
            display: none;
        }

        @at-root #{&}-nav>ul {
            position: inherit;
            display: flex;
            justify-content: space-around;
            text-align: center;
            margin-left:1em;

            @at-root #{&} li{
                animation: none !important;
            }
        }  
    }
}

@keyframes links-animation{
    from{
        transform: translateY(-5em);
        opacity: 0;
    }

    to{
        transform: translateY(0rem);
        opacity: 1;
    }
}