.site{
    @at-root #{&}-header{
        
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 2fr ;
        
        @media screen and (min-width: 600px) {
            grid-template-columns: 1fr 4fr 5fr;
          }

        @at-root #{&}:after{
            display: block;
            width: inherit;
            margin-bottom: 1rem;
            content:"";
            border-bottom: 0.2rem solid black;
            grid-column: 1 / -1;
        }
    }

    @at-root #{&}-logo{
        
        width: 5rem;
        padding-left: 1rem;
    }

    @at-root #{&}-title{
        font-family: "overpass";
        font-weight: bolder;
        font-size: 2rem;
        text-align: center;
    }

    @at-root #{&}-nav{
        grid-column: 1 / -1;
        padding: 0.2rem 4rem;    

        @at-root & > ul{
            list-style: none;
            display: flex;
            justify-content: space-around;
            
            @at-root & > li{
                text-align: center;
                font-size: 1rem;
                margin: 0 0.3rem;
            }
        }


        @media screen and (min-width: 600px) {
            padding: 0.2rem 1rem 0.2rem 0;
            grid-column: inherit;
        }
    }

}