<footer class="footer">
    <div class="branding">
        <img src="{{site.logo}}" alt="" class="branding-logo">
        <p class="branding-title">{{site.title | upcase}}</p>
    </div>
    <div class="moto">From gamers to gamers</div>
    <div class="footer-category">
        <p>Site map</p>
        <ul>
            <li><i class="fas fa-home"></i><p>Home</p></li>
            <li><i class="fas fa-th"></i><p>Posts</p></li>
            <li><i class="fas fa-envelope"></i><p>Contact us</p></li>
            <li><i class="fas fa-bell"></i><p>Subscribe</p></li>
        </ul>
    </div>
    <div class="footer-category">
        <p>Contacts</p>
        <p >Nikola Hristov</p>
        <ul>
            <li><i class="fas fa-at"></i> <p>{{site.email}}</p></li>
            <li><i class="fab fa-github-square"></i><p>{{site.github_username}}</p></li>
        </ul>
    </div>
</footer>