<header class="site-header"> 
        <div class="site-logo"><img src="./imgs/space-invaders-svgrepo-com.svg" alt=""></div>
        <div class="site-title">THE GAME JOURNAL</div>
        <div class="site-nav">
            <ul>
                <li><i class="fas fa-home"></i><p>Home</p></li>
                <li><i class="fas fa-th"></i><p>Posts</p></li>
                <li><i class="fas fa-envelope"></i><p>Contact us</p></li>
                <li><i class="fas fa-bell"></i><p>Subscribe</p></li>
            </ul>
        </div>
</header>