<header class="site-header"> 
        <div class="site-logo"><img src="{{page.base_url}}{{site.logo}}" alt=""></div>
        <div class="site-title">{{site.title | upcase }}</div>
        <div class="site-nav">
            <ul>
                    <li><a href="/"><i class="fas fa-home"></i><p>Home</p></a></li>
                    <li><a href="/posts"><i class="fas fa-th"></i><p>Posts</p></a></li>
                    <li><a href="/contact"><i class="fas fa-envelope"></i><p>Contact Us</p></a></li>
                    <li><a href="/subscribe"><i class="fas fa-bell"></i><p>Subscribe</p></a></li>
                </ul>
        </div>
</header>